body{
    font-family: 'Roboto Condensed', sans-serif;
}
.height{
    height:40vh;  
}
.height1{
    height:55.50vh;
}



@media only screen and  (max-height: 149px) {
    .height{
        height:0vh;  
    }
    .height1{
        height:0vh;
    }
  }
  @media screen and  (max-height: 159px) {
    .height{
        height:0vh;  
    }
    .height1{
        height:0vh;
    }
  }